<!doctype html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>List of Recipes</title>
  <link rel="stylesheet" href="recipe.css">
</head>
<body>

<div class="content-list">

  <h1>Recipes</h1>

  <ul class="recipe-list">
    <% @recipes.each do |recipe| %>
      <li><a href= <%= "/recipes/#{recipe[0]}" %> ><%= recipe[1] %></a></li>
    <% end %>
  </ul>

</div>


</body>
</html>
