<!doctype html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Recipe</title>
  <link rel="stylesheet" href="/recipe.css">
</head>
<body>

<a href="/recipes"><p>Home</p></a>

<div class="content-list">
    <% @recipes.each do |recipe| %>
      <% if @id==recipe[0] %>
        <h1><%=recipe[1]%></h1>
        <p>Ingredients</p>
        <ol>
          <% @recipe_ingredients.each do |recipe_ingredient| %>
            <li><%= recipe_ingredient[1] %></li>
          <% end %>
        </ol>

          <p>Instructions</p>
          <p><%=recipe[2]%></p>
          <p>Description</p>
          <p><%=recipe[3]%></p>

      <% end %>
    <% end %>

  <a href="/recipes"><p>Home</p></a>

</div>

</body>
</html>
